.navbar{
    @apply h-[5rem] px-14 py-6 bg-red-600 flex items-center justify-between relative
}
.mainheader{
    @apply px-14 py-6 text-white h-[4.5rem] bg-green-600 flex items-center justify-between
}
.mainheaderNav{
    @apply flex items-center gap-6 text-[#ffff]
}
.mainheaderNav a{
    @apply hover:underline hover:text-[#19328A]
}
.menu{
    @apply hidden
}
.sideheaderNav{
    @apply p-4
}
.sideheaderNav .sidelink{
    @apply border-b-[1px] pb-2 text-[#19328A]
}
@media screen and (max-width: 1060px) {
    .navbar{
        @apply hidden
    }
    .mainheader{
        /* @apply hidden */
    }
    .mainheaderNav{
        @apply hidden
    }
    .menu{
        @apply block
    }
    .login{
        @apply hidden
    }
}